<%= simple_form_for(@subject, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :attachment_cache %>

  <div class="form-inputs">

    <%= image_tag(@subject.attachment.thumb.url) if @subject.attachment? %>
    <%= f.input :attachment, as: :file %>
    <%= f.input :name %>
    
    <%= f.input :copyright_owner %>
    <%= f.input :copyright_license %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
