<div id="filterrific_results">

  <div class="collapse" id="record-access-settings">
    <%= share_multiple_with(Subject) %>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <td></td>
        <td><%= filterrific_sorting_link(@filterrific, :name) %></td>
        <td></td>
        <td></td>
        <td>Size</td>
        <td><%= filterrific_sorting_link(@filterrific, :modified) %></td>
      </tr>
    </thead>
    <tbody>
      <% subjects.each do |subject| %>
        <%= content_tag :tr, 
              render(partial: 'subjects/list_item', locals: { subject: subject }), 
              data: { 
                href: url_for(subject),
                remote: !browser.device.mobile? } %>
      <% end %>      
    </tbody>
  </table>
  
  <div id="pagination-results">
    <%= will_paginate subjects, params: params.merge({filterrific: nil}), renderer: BootstrapPagination::Rails %>
  </div>
</div>