    <% if subject %>
      <div class="panel panel-default" style="">
        <div class="panel-body">
          <p><%= render_type_symbol(subject) %> <span class="text-muted"><strong><%= subject.content_type %></strong></span></p>
          <p>
            <strong>Title:</strong>
            <%= link_to(subject.name, subject) %>
          </p>

          <%= render subject, as: subject.type.to_sym, full: false %>
          
          <%= content_tag :div, style: 'padding-top:10px;' do %>
            <%= content_tag :p, content_tag(:strong, 'Copyright: ')+content_tag(:span, subject.file_copyright) %>
            <%= content_tag :p, content_tag(:strong, 'Copyright Details: ')+content_tag(:span, subject.file_copyright_details) if subject.file_copyright_details.present? %>
            <%= content_tag :p, 'Please respect the copyright.', class: 'text-muted small' %>
          <% end %>
          <%= content_tag :p, content_tag(:strong, 'Tags: ')+content_tag(:span, subject.tags.join(', ')) if subject.tags.any? %>
        </div>
      </div>
    <% end %>
