<div class="panel panel-default">
  <div class="panel-body">
    <% if subject %>
      <div class="input-group" style="">
        <%= text_field_tag '', polymorphic_url(subject), class: 'form-control', id: 'subject-url-input', readonly: true %>
        <span class="input-group-btn">
          <%= link_to fa_icon('clipboard'), 'javascript:;', class: 'btn btn-default clipboard-btn', data: {'clipboard-target': "#subject-url-input"} %>
        </span>
      </div>

      <%= content_tag :h3, link_to(subject.name, subject) %>

      <%= render subject, as: subject.type.to_sym, full: false %>

      <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-body">
          <p><%= render_type_symbol(subject) %> <span class="text-muted"><strong><%= subject.content_type %></strong></span></p>
          <p>
            <strong>Title:</strong>
            <%= subject.name %>
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            <strong>Copyright:</strong>
            <%= subject.file_copyright %>
          </p>
          <p>
            <strong>Copyright Details:</strong>
            <%= subject.file_copyright_details %>
          </p>
        </div>
      </div>
      <%= link_to fa_icon('edit', text: 'Edit'), [:edit, subject], class: 'btn btn-sm btn-warning pull-right', style: 'margin-top: 5px;' %>
    <% end %>
  </div>
</div>