<div class="panel panel-default">
  <div class="panel-body">
    <% if subject %>
      <div class="input-group" style="">
        <%= text_field_tag '', polymorphic_url(subject), class: 'form-control', id: 'subject-url-input', readonly: true %>
        <span class="input-group-btn">
          <%= link_to fa_icon('clipboard'), 'javascript:;', class: 'btn btn-default clipboard-btn', data: {'clipboard-target': "#subject-url-input"} %>
        </span>
      </div>
      <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-body">
          <p><%= render_type_symbol(subject) %> <span class="text-muted"><strong><%= subject.content_type %></strong></span></p>
          <p>
            <strong>Title:</strong>
            <%= link_to(subject.name, subject) %>
          </p>

          <%= render subject, as: subject.type.to_sym, full: false %>
          
          <%= content_tag :div, style: 'padding-top:10px;' do %>
            <%= content_tag :p, content_tag(:strong, 'Copyright: ')+content_tag(:span, best_in_place_if(can?(:edit, subject), subject, :file_copyright)) %>
            <%= content_tag :p, content_tag(:strong, 'Copyright Details: ')+content_tag(:span, subject.file_copyright_details) if subject.file_copyright_details.present? %>
            <%= content_tag :p, 'Please respect the copyright.', class: 'text-muted small' %>
          <% end %>

          <%= render 'edit_tags', subject: subject if can? :edit, subject%>
        </div>
      </div>
    <% end %>
  </div>
</div>

