<% title @subject.name %>

<%= simple_form_for(@subject, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>


  <div class="form-inputs">
    <%= f.file_field :file %>
    
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :tag_list, collection: ActsAsTaggableOn::Tag.order(name: :asc), label_method: :name, 
          value_method: :name, selected: @subject.tag_list, 
          input_html: {multiple: true, class: 'tag_names'} %>
    
    <%= f.input :file_copyright %>
    <%= f.input :file_copyright_details %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>