<% title "Subjects", false %>

<div class="row">
  <div class="col-md-12" style="margin:10px 0;">
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="form-inline row">
        <div class="form-group col-md-8 col-sm-8">
          <div class="input-group" style="width:100%">
            <span class="input-group-addon" style="width:38px;"><%= link_to fa_icon('search'), help_path(anchor: 'searching') %></span>
            <%= f.search_field(:search, placeholder: "Search in all fields", class: 'filterrific-periodically-observed form-control', style: '') %>
          </div>
        </div>
        <div class="form-group col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1">
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, { class: 'form-control pull-right' }) %>
        </div>
      </div>
    <% end %> <!-- filterrific form end -->
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="well" style="padding:10px 10px;">
      <span id="page-result-info">
        <%= page_entries_info @subjects, model: @type %>
      </span>
      <%= render_filterrific_spinner %>
      <%= link_to('Reset', reset_filterrific_url, class: 'pull-right btn btn-sm btn-default', style: 'margin-top: -2px;line-height:1;') %>
    </div>
    <%= render(partial: 'subjects/list', locals: { subjects: @subjects }) %>
    <div style="margin-top: 20px; margin-bottom: 10px;">
      <%= render 'shared/per_page' %>
    </div>
  </div>

  <div class="col-md-5">
    <%= content_tag :div, class: 'clearfix' do %>
      <%= content_tag :div do %>
        <%= link_to fa_icon('upload', text: 'Upload'), new_subject_path, class: 'btn btn-success' if current_user %>
        <%= link_to fa_icon('share-alt', text: 'Sharing'),"#record-access-settings", class: 'btn btn-warning', data: {toggle: 'collapse'} if can_administrate? %>
        <hr>
      <% end if current_user %>

      <%= content_tag :div, id: "show-target", data: {spy: 'affix', 'offset-top': "60"} do %>
        <%= render partial: 'subjects/show', locals: { subject: @subjects.first }%>
      <% end if !browser.device.mobile? %>
    <% end %>
  </div>

</div>