<div class="row">
  <div class="col-md-8" style="margin:10px 0;">
    <%= render "shared/search" %>
  </div>
  <div class="col-md-4" style="margin:10px 0;">
    <%= content_tag :div, class: 'pull-right' do %>
      <%= link_to 'Single file', new_subject_path, class: 'btn btn-default' %>
    <% end %>
  </div>


  <div class="col-md-12" style="margin: 30px 0;">
    <%= form_tag(upload_subjects_path, multipart: true) do %>
      <%= file_field_tag :attachment,
        multiple: true,
        id: 'multiple_new_subjects' %>
    <% end %>
  </div>
    

</div>

<section class="no-padding" id="explore" style="margin-bottom: 80px;">
  <div class="container-fluid">
    <div class="row no-gutter" id="uploads">

    </div>
    <div class="row no-gutter" id="subjects">
      <%= render @subjects %>
    </div>
  </div>
</section>  


