<% title "File: #{@subject.name}" %>

<% content_for(:buttons) do %>
  <%= link_to fa_icon('edit', text: 'Edit'), [:edit, @subject], class: 'btn btn-warning' %>
  <%= link_to fa_icon('remove', text: 'Delete'), @subject, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end if current_user %>


<div class="row">
  <div class="col-md-7">
    <%= render @subject, as: @subject.type.to_sym %>
  </div>
  
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <%= content_tag :li, link_to('Identity', '#identity', aria: {controls: 'identity'}, role: 'tab', data: {toggle: 'tab'}), role: 'presentation', class: 'active' %>
          <%= content_tag :li, link_to('Content', '#content', aria: {controls: 'content'}, role: 'tab', data: {toggle: 'tab'}), role: 'presentation' %>
          <%= content_tag :li, link_to("Comments <span class='badge'>#{@subject.root_comments.count}</span>".html_safe, '#comments', aria: {controls: 'comments'}, role: 'tab', data: {toggle: 'tab'}), role: 'presentation', class: '' %>
          <%= content_tag :li, link_to(fa_icon('share-alt', text: "Sharing"), '#sharing', aria: {controls: 'sharing'}, role: 'tab', data: {toggle: 'tab'}), role: 'presentation', class: '' %>
        </ul>

        <div class="tab-content">
          <%= content_tag :div, id: 'identity', role: 'tabpanel', class: 'tab-pane active' do %>
            <p>
              <strong>Title:</strong>
              <%= @subject.name %>
              <strong><%= @subject.type %></strong>
              <strong><%= @subject.content_type %></strong>
            </p>
            <p>
              <strong>Copyright owner:</strong>
              <%= @subject.copyright_owner %> (linkto)<br>
              <small>If linkto in people Disclaimer</small>
            </p>
            <p>
              <strong>Copyright license:</strong>
              <%= @subject.copyright_license %>
            </p>
          <% end %>

          <%= content_tag :div, id: 'content', role: 'tabpanel', class: 'tab-pane' do %>
            <p>
              <strong>Description:</strong>
              <%= @subject.description %>
            </p>  
            <p>
              <strong>Tags:</strong>
              <%= @subject.tags.map{|c| content_tag :span, link_to(c.name, subjects_path(q: "#{c.name}"), style: 'color: white;'), class: 'label label-default'}.join(' ').html_safe %>
            </p>
          <% end %>

          <%= content_tag :div, id: 'comments', role: 'tabpanel', class: 'tab-pane' do %>
            <%= commentables_for(@subject) %>
          <% end %>

          <%= content_tag :div, id: 'sharing', role: 'tabpanel', class: 'tab-pane' do %>
            <%= shared_with(@subject) %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>