<div class="row">
  <div class="col-md-8">
    <%= render_image(@subject, 640) %>
    <%= link_to 'object', @subject.file_url %>
    <%= @subject.file_data %>
  </div>
  
  <div class="col-md-4">
    <% if current_user %>
      <%= link_to fa_icon('edit', text: 'Edit'), [:edit, @subject], class: 'btn btn-default' %>
      <%= link_to fa_icon('remove', text: 'Delete'), @subject, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
    <% end %>

    <p>
      <strong>Title:</strong>
      <%= @subject.name %>
      <strong><%= @subject.type %></strong>
      <strong><%= @subject.content_type %></strong>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @subject.description %>
    </p>
    
    <p>
      <strong>Tags:</strong>
      <%= @subject.tags.map{|c| content_tag :span, link_to(c.name, subjects_path(q: "#{c.name}"), style: 'color: white;'), class: 'label label-default'}.join(' ').html_safe %>
    </p>
    
    <hr>

     
    
    <hr>
    <p>
      <strong>Copyright owner:</strong>
      <%= @subject.copyright_owner %> (linkto)<br>
      <small>If linkto in people Disclaimer</small>
    </p>
    
    <p>
      <strong>Copyright license:</strong>
      <%= @subject.copyright_license %>
    </p>
    

          <%= content_tag :div, id: 'comments', role: 'tabpanel', class: 'tab-pane' do %>
            <%= commentables_for(@subject) %>
          <% end %>

          <%= content_tag :div, id: 'sharing', role: 'tabpanel', class: 'tab-pane' do %>
            <%= shared_with(@subject) %>
          <% end %>



  </div>
</div>