<% title "File: #{@subject.name}" %>

<% content_for(:buttons) do %>
  <%= link_to fa_icon('edit', text: 'Edit'), [:edit, @subject], class: 'btn btn-warning' %>
  <%= link_to fa_icon('remove', text: 'Delete'), @subject, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end if current_user %>


<div class="row">
  <div class="col-md-7">
    <%= render @subject, as: @subject.type.to_sym, full: true %>
  </div>
  
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <%= content_tag :li, link_to('Identity', '#identity', aria: {controls: 'identity'}, role: 'tab', data: {toggle: 'tab'}), role: 'presentation', class: 'active' %>
          <%= content_tag :li, link_to('Content', '#content', aria: {controls: 'content'}, role: 'tab', data: {toggle: 'tab'}), role: 'presentation' %>
          <%= content_tag :li, link_to("Comments <span class='badge'>#{@subject.root_comments.count}</span>".html_safe, '#comments', aria: {controls: 'comments'}, role: 'tab', data: {toggle: 'tab'}), role: 'presentation', class: '' %>
          <%= content_tag :li, link_to(fa_icon('share-alt', text: "Sharing"), '#sharing', aria: {controls: 'sharing'}, role: 'tab', data: {toggle: 'tab'}), role: 'presentation', class: '' %>
        </ul>

        <div class="tab-content">
          <%= content_tag :div, id: 'identity', role: 'tabpanel', class: 'tab-pane active' do %>

            <div class="input-group" style="margin-top:10px;">
              <%= text_field_tag '', polymorphic_url(@subject), class: 'form-control', id: 'subject-url-input', readonly: true %>
              <span class="input-group-btn">
                <%= link_to fa_icon('clipboard'), 'javascript:;', class: 'btn btn-default clipboard-btn', data: {'clipboard-target': "#subject-url-input"} %>
              </span>
            </div>
            <div class="panel panel-default" style="margin-top:10px;">
              <div class="panel-body">
                <p><%= render_type_symbol(@subject) %> <span class="text-muted"><strong><%= @subject.content_type %></strong></span></p>
                <p>
                  <strong>Title:</strong>
                  <%= @subject.name %>
                </p>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
                <p>
                  <strong>Copyright:</strong>
                  <%= @subject.file_copyright %> (linkto)<br>
                  <small>If linkto in people Disclaimer</small>
                </p>
                <p>
                  <strong>Copyright Details:</strong>
                  <%= @subject.file_copyright_details %>
                </p>
              </div>
            </div>

            <h4>File Versions</h4>
            <ul class="list-group">
              <% if @subject.file.is_a?(Hash) %>
                <% @subject.file.each do |key, version| %>
                  <li class="list-group-item">
                    <%= link_to fa_icon('clipboard'), 'javascript:;', class: 'clipboard-btn', data: {'clipboard-action': 'copy', 'clipboard-text': "#{Rails.application.secrets.host}#{version.url}" }%>
                    <strong><%= key.to_s.humanize %></strong>
                    <span class="pull-right">
                      <%= content_tag :span, "#{version.width}x#{version.height} | ", class: 'text-muted small'  if version.try(:width) && version.try(:height) %>
                      <%= content_tag :span, number_to_human_size(version.size), class: 'text-muted small' %>
                      <%= link_to fa_icon('download'), version.url, download: "#{key}_#{version.id}" %>
                    </span>
                  </li>
                <% end %>
              <% else %>
                <li class="list-group-item">
                  <%= link_to fa_icon('clipboard'), 'javascript:;', class: 'clipboard-btn', data: {'clipboard-action': 'copy', 'clipboard-text': "#{Rails.application.secrets.host}#{@subject.file_url}" }%>
                  <strong>Original</strong>
                  <span class="pull-right">
                    <%= content_tag :span, number_to_human_size(@subject.file.size), class: 'text-muted small' %>
                    <%= link_to fa_icon('download'), @subject.file_url, download: "#{@subject.file.id}" %>
                  </span>
                </li>
              <% end %>
            </ul>
            
          <% end %>

          <%= content_tag :div, id: 'content', role: 'tabpanel', class: 'tab-pane' do %>
            <p>
              <strong>Description:</strong>
              <%= @subject.description %>
            </p>  
            <p>
              <strong>Tags:</strong>
              <%= @subject.tags.map{|c| content_tag :span, link_to(c.name, subjects_path(q: "#{c.name}"), style: 'color: white;'), class: 'label label-default'}.join(' ').html_safe %>
            </p>
          <% end %>

          <%= content_tag :div, id: 'comments', role: 'tabpanel', class: 'tab-pane' do %>
            <%= commentables_for(@subject) %>
          <% end %>

          <%= content_tag :div, id: 'sharing', role: 'tabpanel', class: 'tab-pane' do %>
            <%= shared_with(@subject) %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>