<div class="row">
  <div class="col-md-8">
    <%= image_tag @subject.attachment.url, class: 'img-responsive' if @subject.content_type.include?('image') %>

  </div>
  
  <div class="col-md-4">
    <% if current_user %>
      <%= link_to fa_icon('edit', text: 'Edit'), edit_subject_path(@subject), class: 'btn btn-default' %>
      <%= link_to fa_icon('remove', text: 'Delete'), @subject, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
    <% end %>

    <p>
      <strong>Title:</strong>
      <%= @subject.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @subject.description %>
    </p>
    
    <p>
      <strong>Tags:</strong>
      <%= @subject.tags.map{|c| content_tag :span, link_to(c.name, subjects_path(q: "#{c.name}"), style: 'color: white;'), class: 'label label-default'}.join(' ').html_safe %>
    </p>
    
    <p>
      <strong>Comments:</strong>

    </p>
    
    <hr>
    <p>
      <strong>Attachment:</strong>
      <%= @subject.attachment %>
    </p>
    
    <p>
      <strong>Content type:</strong>
      <%= @subject.content_type %>
    </p>

    <p>
      <strong>Size:</strong>
      <%= number_to_human_size @subject.attachment_size %>
    </p>

    <p>
      <strong>Dimensions:</strong>
      <%= @subject.width %> x <%= @subject.height %>
    </p>
        
    <p>
      <strong>Original filename:</strong>
      <%= @subject.attachment_original_filename %>
    </p> 
     
    
    <hr>
    <p>
      <strong>Copyright owner:</strong>
      <%= @subject.copyright_owner %> (linkto)<br>
      <small>If linkto in people Disclaimer</small>
    </p>
    
    <p>
      <strong>Copyright license:</strong>
      <%= @subject.copyright_license %>
    </p>
    
  </div>
</div>